body {
    background: black;
    width: 100%;
}

.default {
    fill: #45ff00;
}

.dark {
    fill: #153d07;
}

.black {
    fill: black;
}

.main-container {
    width: 70vw;
    height: 42vw;
    max-width: 1063px;
    max-height: 650px;
    margin: 6rem auto;
    position: relative;
}

.binary-code-svg {
    width: 70vw;
    height: 39vw;
    max-width: 1063px;
    max-height: 598px;
}

.center-template-content {
    width: inherit;
    height: 39vw;
    max-width: 1063px;
    max-height: 650px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    background: black;
    color: #45ff00;
    padding: 1rem 4rem;
    font-size: 2rem;
}

.main-caption {
    display: flex;
    justify-content: space-between;
}

p {
    color: #45ff00;
    margin-block-start: 0;
    margin-block-end: 0;
}

.logo-content{
    background: black;
}

.group-image-style {
    width: inherit;
    height: 39vw;
}

/* video filter */
.c01{
    -webkit-animation: scale 1s infinite linear;
    -webkit-transform-origin: center;
    transform-origin: center;
    animation: scale 1s infinite linear ;
}
.c02{
    -webkit-transform-origin: center;
    -webkit-animation: scale 2s infinite linear ;
    -webkit-animation-delay: 1s;
    transform-origin: center;
    animation: scale 2s infinite linear ;
    animation-delay: 1s;
}
.c03{
    -webkit-transform-origin: center;
    -webkit-animation: scale 3s infinite linear ;
    transform-origin: center;
    animation: scale 3s infinite linear ;
}
.c04{
    -webkit-transform-origin: center;
    -webkit-animation: scale 4s infinite linear ;
    -webkit-animation-delay: 3s;
    transform-origin: center;
    animation: scale 4s infinite linear ;
    animation-delay: 3s;
}
.c05{
    -webkit-transform-origin: center;
    -webkit-animation: scale 5s infinite linear ;
    -webkit-animation-delay: 2s;
    transform-origin: center;
    animation: scale 5s infinite linear ;
    animation-delay: 2s;
}
@keyframes scale{
    0% {transform: scale(0);}
    50% {transform: scale(1);}
    100% {transform: scale(0);}
}

