body {
    background: black;
    width: 100%;
}

.default {
    fill: #45ff00;
}

.dark {
    fill: #153d07;
}

.black {
    fill: black;
}

.main-container {
    width: 70vw;
    height: 42vw;
    max-width: 1063px;
    max-height: 650px;
    border: 2px solid #333;
    margin: 6rem auto;
}

.binary-code-svg {
    width: 70vw;
    height: 39vw;
    max-width: 1063px;
    max-height: 598px;
    border: 2px solid #333;
}

